<div class="jumbotron vertical-center">
    <div id="login">
		        <div id="login-row" class="row justify-content-center align-items-center">
		            <div id="login-column" class="col-md-8">
		                <div id="login-box" class="col-md-12">
		                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					            <div class="form-group">
					               <label for="username">DNI (sin puntos)</label>
					               <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
					               <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
					                  <div *ngIf="f.username.errors.required">El DNI es obligatorio</div>
					               </div>
					            </div>
					            <div class="form-group">
					               <label for="password">Contraseña</label>
					               <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
					               <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					                  <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
					               </div>
					            </div>
					            <div class="form-group">
					               <button type="submit" [disabled]="loading" class="btn btn-primary float-right">
						               <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						               Ingresar
					               </button>
					            </div>
					            <br/>
					            <div class="form-group mt-4">
					               <a routerLink="/register" class="btn btn-link float-right">Registrarse</a>
					            </div>
					        </form>
		                </div>
		            </div>
		        </div>
  </div>
</div>
<!--<div class="footer fixed-bottom">
    <div class="justify-content-center" style="width: 100%; margin: 5px;">
		<div class="row justify-content-center">
		  <div class="col-3 nopadding align-middle">
	        <div class="row nopadding">
			 	<img style="width: 100%;" src="./assets/images/dacefyn.png">
			</div>
			<div class="row nopadding">
			 	<img style="width: 100%;" src="./assets/images/unlar.png">
			</div>
	      </div>
	      <div class="col-3 nopadding align-middle">
	        <div class="row nopadding">
			 	<img style="width: 100%;" src="./assets/images/secretaria.png">
			</div>
			<div class="row nopadding">
			 	<img style="width: 100%;" src="./assets/images/ministerio.png">
			</div>
	      </div>
	      <div class="col-4">
			<div class="row">
				<span class="align-middle"><img style="width: 100%;" src="./assets/images/gobierno.png"></span>			 	
			</div>
	      </div>
		</div>
	</div>
</div>-->