<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa fa-gift" aria-hidden="true"></i>
Combos</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa fa-plus-circle" aria-hidden="true"></i> Stock a cargar</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent" style="margin-bottom: 100px">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

  	<div class="content mt-3">
  		<div class="form-group">
	        <select class="form-control" id="circuit">
	        	<option value="" disabled selected>Seleccione el circuito</option>
	        </select>
	    </div>
	    <div class="form-group">
	        <select class="form-control" id="categories">
	        	<option value="" disabled selected>Seleccione la categoría</option>
	        </select>
	    </div>

	    <div class="list-group mb-5" id="combos"></div>
		
  	</div>


	  	
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  	<div class="list-group mt-3 combos-pedidos">
		
	</div>
    <div class="footer fixed-bottom">
    	<div class="container">
	        <div class="btn-group mb-3" role="group" style="width: 100%">
			  <button id="registerOrder" type="button" class="btn btn-primary">Cargar stock</button>
			</div>
	      </div>
    </div>
  </div>
</div>

